html{
    background-color: rgb(150, 211, 189);
    font-family: 'Muli', sans-serif;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
body{
    padding: 5%;
    box-shadow: 3px 3px gray;
    border: outset;
    border-radius: 25px;
    background-color: whitesmoke;
    font-size: 20px;
}
#clock{
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    width: 60%; 
    height: 30vw;
}
hr{
    margin: 2% 0 2% 0;
    width: 100%;
}

.button{
    letter-spacing: 20px;
}
button a{
    text-decoration: none;
    font-size: 16px;
}
.title h1{
    text-align: center;
}
/* --- MAIN PAGE --- */
/* Introduction box */
.intro{
    background-color: rgba(189, 203, 218, 0.322);
    border: inset 2px;
    border-radius: 20px;
}
.intro table{
    text-align: justify;
    text-align-last: center;
    width: 100%;
    padding: 1%;
}
.intro table td{
    padding: 3%;
}
#profilePic{
    position: sticky;
    padding: 2%;
    background-color: rgba(156, 250, 215, 0.534);
    border-radius: 60px;
    border: outset 2px;
    margin-right: auto;
    margin-left: auto;
    width: 25vw;
    height: 25vw;
}
.logo a{
    position: relative;
    color: rgb(150, 211, 189);
    font-size: 6vw;
}
.logo a:hover{
    cursor: pointer;
    color: rgb(13, 68, 48);
}
/* CONTENT OF MY SPRINT SECTION */
.sprint1, .sprint2, .sprint3, .sprint4, .sprint5{
    display: none;
}
.addStyle{
    border: 0 2px 2px 2px;
    display: block;
    padding: 2%;
    background-color: rgba(156, 166, 177, 0.404);
}
.addStyle button{
    margin: 1vw 2vw 1vw 2vw;
    padding: 1vw;
}
.backgroundSprint{
    background-color: rgba(189, 203, 218, 0.322);
    border-radius: 10px 10px 0 0;
    text-align: center;
}
.mySprintButton{
    color: whitesmoke;
    background-color: rgb(150, 211, 189);
    font-size: 20px;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 10px;
    outline: none;
    width: 50%;
    border: outset;
    padding: 1vw;
    margin: 1vw;
}
.mySprintButton:hover{
    color: white;
    cursor: pointer;
    background-color: rgb(178, 240, 217);
}
.sprint1 button, .sprint2 button, .sprint3 button, .sprint4 button, .sprint5 button{
    color: whitesmoke;
    background-color: rgb(158, 212, 193);
    border-radius: 10px;
    outline: none;
    border: outset;
}
.sprint1 button a, .sprint2 button a, .sprint3 button a, .sprint4 button a, .sprint5 button a{
    color: whitesmoke;
    font-size: 20px;
}
.sprint1 button:hover, .sprint2 button:hover, .sprint3 button:hover, .sprint4 button:hover, .srpint5 button:hover{
    background-color: rgb(167, 224, 203);
}

/* COPYRIGHT FOOTER */
.copyright{
    border-radius: 0 0 10px 10px;
    text-align: center;
    width: 100%;
    background-color: rgba(156, 166, 177, 0.404);
    color: rgba(64, 99, 86, 0.534);
    display: inline-block;
}
/* --- BLOG PAGE --- */
/* NAVIGATION BAR */
.navi{
    display: block;
    width: 100%;
    background-color: rgba(156, 250, 215, 0.534);
    border: 0.5px outset;
    box-shadow: 2px 2px 2px gray;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
}
.navi a{
    text-decoration: none;
    padding: 1%;
    text-transform: uppercase;
    color: rgb(13, 68, 48);
}
.navi a:hover{
    color: slategray;
}

/* SOURCE SPACE */
.source{
    word-spacing: 3px;
}
.source a{
    text-decoration: none;
}
/* IMAGES */
.images{
    position: relative;
}
.images img{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    opacity: 1;
    display: block;
    padding: 0 !important;
    border: inset;
    border-radius: 25px;
    transition: 0.5 ease;
    backface-visibility: hidden;
}
.middlePic{
    transition: ease 0.5;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.images:hover .innerImages{
    opacity: 0.3;
}
.images:hover .middlePic{
    opacity: 1;
}
.text{
    text-align: justify;
    text-align-last: center;
    color: black;
    font-size: 15px;
    padding: 16px;
}
/* BLOG PART */
.break-part{
    padding: 10px 0 10px 0;
}
.break-part-dotted{
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 10px;
    font-size: 20px;
}
article img{
    border-radius: 0px;
    border: 1.5px outset;
    box-shadow: 2px 2px gray;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
xmp{
    display: block;
    background-color: lightgray;
    border-radius: 10px;
    font-size: smaller;
    white-space: pre-line;
    padding: 8px;
    line-height: 1.5;
    background-image: url("images/css.jpeg");
}
#DOM ol li{
    line-height: 1.50;
}

/* MEDIA CHANNEL */
@media screen and (max-width: 736px){ /* Iphone 7 and 8 plus */
    /* PHONE HEADER SECTION */
    #clock{
        width: 70vw; 
        height: 40vw;
        padding-left: 4%;
    }
    header{
        text-align: center;
        font-size: 1rem;
    }
    #profilePic{
        text-align: center;
        width: 30vw;
        height: 30vw;
    }
    .logo a{
        font-size: 10vw;
    }
    /* MAIN PAGE BUTTON */
    .sprint1 button a, .sprint2 button a, .sprint3 button a, .sprint4 button a, .sprint5 button a{
        font-size: 15px;
    }
    /* PHONE BODY SECTION */
    body{
        text-align: justify;
        text-align-last: center ;
    }
    .blog{
        text-align: justify;
        text-align-last: left;
    }
    p{
        font-size: 1rem;
    }
    li{
        font-size: 1rem;
    }
    /* PHONE BLOG STYLE */
    .blog h2{
        font-size: 1.5rem;
    }
    .blog ol, .blog ul{
        font-size: 1.15rem;
    }
    .blog ol li, .blog ul li{
        font-size: 1rem;
    }
    #accessingData ul li{
        font-size: 1rem;
    }
    xmp{
        font-size: 0.8rem;
    }

};