html{
    background-color: rgb(150, 211, 189);
    font-family: 'Muli', sans-serif;
    margin: 3vw;
}
body{
    width: 100%;
    padding: 5%;
    box-shadow: 3px 3px gray;
    border: outset;
    border-radius: 25px;
    background-color: whitesmoke;
    font-size: 20px;
}
hr{
    margin: 2% 0 2% 0;
    width: 100%;
}
ul li{
    text-align: justify;
    text-align-last: left;
    line-height: 150%;
}
.button{
    letter-spacing: 20px;
}
button a{
    text-decoration: none;
    font-size: 16px;
}
.title h1{
    text-align: center;
    font: 90%;
}
/* --- MAIN PAGE --- */
/* Introduction box */
.intro{
    background-color: rgba(189, 203, 218, 0.322);
    border: inset 2px;
    border-radius: 20px;
    width: 100%;
}
.intro table{
    text-align: justify;
    text-align-last: center;
    width: 100%;
    padding: 1%;
}
.intro table td{
    padding: 2%;
}
#profilePic{
    position: sticky;
    padding: 2%;
    background-color: rgba(156, 250, 215, 0.534);
    border-radius: 60px;
    border: outset 2px;
    margin-right: auto;
    margin-left: auto;
    width: 30vw;
    height: 30vw;
}
.logo{
    position: relative;
    color: rgb(150, 211, 189);
    font-size: 5vw;
}
/* CONTENT OF MY SPRINT SECTION */
.sprint{
    display: none;
}
.addStyle{
    border: 0 2px 2px 2px;
    display: block;
    padding: 2%;
    border-radius: 5px;
}
.backgroundSprint{
    background-color: rgba(189, 203, 218, 0.322);
    border-radius: 10px;
}
.mySprintButton{
    color: whitesmoke;
    background-color: rgb(150, 211, 189);
    font-size: 20px;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 10px;
    outline: none;
    width: 100%;
    border: outset;
}
.mySprintButton:hover{
    color: white;
    cursor: pointer;
    background-color: rgb(178, 240, 217);
}

/* --- BLOG PAGE --- */
/* NAVIGATION BAR */
.navi{
    display: block;
    width: 100%;
    background-color: rgba(156, 250, 215, 0.534);
    border: 0.5px outset;
    box-shadow: 2px 2px 2px gray;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
}
.navi a{
    text-decoration: none;
    padding: 1%;
    text-transform: uppercase;
    color: rgb(13, 68, 48);
}
.navi a:hover{
    color: slategray;
}

/* SOURCE SPACE */
.source{
    word-spacing: 3px;
}
.source a{
    text-decoration: none;
}
/* IMAGES */
.images{
    position: relative;
}
.images img{
    width: 100%;
    opacity: 1;
    display: block;
    padding: 0 !important;
    border: inset;
    border-radius: 25px;
    transition: 0.5 ease;
    backface-visibility: hidden;
}
.middlePic{
    transition: ease 0.5;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.images:hover .innerImages{
    opacity: 0.3;
}
.images:hover .middlePic{
    opacity: 1;
}
.text{
    text-align: justify;
    text-align-last: center;
    color: black;
    font-size: 20px;
    padding: 16px;
}
/* BLOG PART */
.break-part{
    padding: 10px 0 10px 0;
}
.break-part-dotted{
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 10px;
    font-size: 20px;
}
article img{
    border-radius: 25px;
    border: 1.5px outset;
    box-shadow: 2px 2px gray;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
xmp{
    display: block;
    background-color: lightgray;
    border-radius: 10px;
    font-size: smaller;
    white-space: pre-line;
}


/* MEDIA CHANNEL */
@media screen and (max-width: 736px){ /* Iphone 7 and 8 plus */
    p{
        font-size: 15px;
    }
    .logo{
        font-size: 10vw;
    }
    #profilePic{
        width: 40vw;
        height: 40vw;
    }
} 