html{
    background-color: rgb(150, 211, 189);
    padding: 50px 150px 150px 150px;
    font-family: 'Muli', sans-serif;
}
body{
    padding: 20px 60px 20px 60px;
    box-shadow: 3px 3px gray;
    border: outset;
    border-radius: 25px;
    background-color: whitesmoke;
    font-size: 20px;
}
hr{
    margin: 30px 0 30px 0;
    width: 100%;
}
ul li{
    text-align: justify;
    text-align-last: left;
    line-height: 150%;
}
.button{
    letter-spacing: 20px;
}
button{
    border-radius: 20px;
    box-shadow: 1px 1px gray;
}
button a{
    text-decoration: none;
    font-size: 16px;
}
.title{
    text-align: center;
    font-size: larger;
}

/* NAVIGATION BAR */
.navi{
    display: block;
    width: 100%;
    background-color: rgba(156, 250, 215, 0.534);
    border: 0.5px outset;
    box-shadow: 2px 2px 2px gray;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}
.navi a{
    text-decoration: none;
    font-size: 400;
    padding: 20px;
    text-transform: uppercase;
    color: rgb(13, 68, 48);
}
.navi a:hover{
    color: slategray;
}

/* SOURCE SPACE */
.source{
    word-spacing: 3px;
}
.source a{
    text-decoration: none;
}
/* IMAGES */
.images{
    position: relative;
}
.images img{
    width: 100%;
    opacity: 1;
    display: block;
    padding: 0 !important;
    border: inset;
    border-radius: 25px;
    transition: 0.5 ease;
    backface-visibility: hidden;
}
.middlePic{
    transition: ease 0.5;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.images:hover .innerImages{
    opacity: 0.3;
}
.images:hover .middlePic{
    opacity: 1;
}
.text{
    text-align: justify;
    text-align-last: center;
    color: black;
    font-size: 20px;
    padding: 16px;
}
/* BLOG PART */
.break-part{
    padding: 10px 0 10px 0;
}
.break-part-dotted{
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 10px;
    font-size: 20px;
}
article img{
    border-radius: 25px;
    border: 1.5px outset;
    box-shadow: 2px 2px gray;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
xmp{
    background-color: lightgray;
    border-radius: 10px;
}